{{#*inline "page"}}
<div>
	<ul class="p-0">
	{{#each blog_posts}}
	<li>
		<div>
			<div class="blog-heading">
				<h2><a href="/blog/{{uuid_repr}}">{{title}}</a></h2>
				<div class="date">{{date_repr}}</div>
			</div>
			<div class="blog-preview">
				<div>
					{{{preview}}}
				</div>
			</div>
			<div class="blog-continue">
				<a href="/blog/{{uuid_repr}}">Continue</a>
			</div>
		</div>
	</li>
	{{/each}}
	</ul>
</div>
<div class="text-center">
	{{#with paginate}}
		{{#if prev}}
		<a href="/blog?page={{prev_page}}">prev</a>
		{{/if}}
		{{current}} of {{total}}
		{{#if next}}
		<a href="/blog?page={{next_page}}">next</a>
		{{/if}}
	{{/with}}
</div>
{{/inline}}
{{~> (parent)~}}
